.matches-information {
    display: grid;
    gap: 20px;
    background-color: #505050;
    border-radius: 5px;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    color: #fff; 
}

.matches-schedule {
    margin-top: 20px;
}

.matches-schedule h1 {
    font-size: 72px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: black;
}

#filters {
   	background-color: transparent; 
    color: #000; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

#filters .btn:hover {
    background-color: #333; 
    color: #fff;
    padding: 12px 24px;  
}

#filters .btn {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 12px 24px;
}

#filters .btn:hover {
    background-color: #0056b3; 
}

#dateInputs input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #666; 
    padding: 5px;
    background-color: #444; 
    color: #fff; 
}

#dateInputs input[type="date"]:focus {
    outline: none;
    border-color: #007bff; 
}

#list-matches {
    margin-top: 20px;
}

.gird-item {
    padding: 20px;
    background-color: #444; 
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    color: #fff; 
}

.gird-item .match-info {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}

.payment-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; 
    margin-right: 100px; 
}

.payment-button:hover {
   	background-color: #ddd;
    color: #000; 
}


