.body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
	background-color: white;
    display: flex;
    flex-direction: column; /* 컨텐츠를 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding: 60px;
}

.header_inner {
    margin-top: 20px; /* 상단 여백 추가 */
    flex: 1;
    font-size 30px;
}

.header_inner img {
    margin-right: 0; /* 이미지를 왼쪽으로 이동 */
    width: 200px; /* 이미지 너비 조정 */
    height: 100px; /* 이미지 높이 조정 */
}

.header_util_right {
    display: flex;
    flex-direction: row; /* 로그인 및 메뉴 항목을 가로로 배치 */
    align-items: center; /* 가운데 정렬 */
    margin-left: auto; /* 오른쪽으로 이동 */
    margin-top: 20px; /* 상단 여백 추가 */
}

.header_util_list {
    list-style: none;
    padding: 0;
    display: flex; /* 메뉴 항목들을 가로로 배치하기 위해 추가 */
}

.header_util {
    background: white;
    margin-left: auto; /* 오른쪽으로 이동 */
}

.header_util_item {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-left: 20px;
}

h1 {
    font-size: 35px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu {
   float: left;
   width: 255px;
   padding-top: 15px;
}
.menu li {
    padding 20px 18px 20px 26px;
    border-bottom: 1px solid #ecedf2;
    position: relative;
    box-sizing: border-box;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 50px;
    margin-top: 60px;
    align-content: start; /* 이미지를 위쪽으로 정렬 */
    justify-items: stretch; /* 이미지를 셀에 꽉 채우도록 확장 */
}

.image-item {
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.image-item.even {
    grid-column: span 2;
    grid-row: span 2;
   width: 100%; /* 가로 크기를 100%로 유지 */
    height: auto; /* 높이를 자동으로 조정하여 가로 세로 비율 유지 */
}

.image-item.odd {
    grid-column: span 2;
    grid-row: span 1;
   width: 100%; /* 가로 크기를 100%로 유지 */
    height: auto; /* 높이를 자동으로 조정하여 가로 세로 비율 유지 */
}

.image-item:hover img {
    transform: scale(1.05);
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer_links li {
    margin-right: 20px;
}

.footer a {
	color: white;
}

.footer_logo {
    font-weight: bold;
    font-size: 24px;
}
