body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #858796;
	text-align: left;
	background-color: #fff;
}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 916px; /* footer의 높이 */
}

.header_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin-left: 10%;
	width: 100%;
	max-width: 350px;
	height: auto;
}

.header_menu {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header_util {
	background: white;
	margin-left: auto;
	padding-right: 20px;
	display: flex;
	align-items: center;
}

.header_util_right {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
}

.header_util_item {
	display: inline-block;
	position: relative;
	margin-left: 20px;
}

.header_util_list {
	list-style: none;
	padding: 0;
	display: flex;
}

h1 {
	font-size: 35px;
}

.main.pop {
    min-height: calc(100vh - 131px);
    margin-bottom: 50px; /* 푸터의 높이만큼 bottom margin 추가 */
}

.dfFullBox {
	display: inline-block;
	float: left;
	width: 100%;
}

.sideMenuBx {
	display: contents;
	position: relative;
}

.dfSidBox.brdrR1_gry, .dfSidBox.brdrL1_gry {
	min-height: 100%;
}

.dfSidBox {
	display: inline-flex;
	justify-content: center;
	float: left;
	width: calc(100%/ 4);
	max-width: 480px;
	box-sizing: border-box;
}

.dfCntntBox {
	display: inline-block;
	float: left;
	width: calc(( 100%/ 4)* 3);
}

#image-grid-container {
	display: grid;
	gap: 10px;
}

#image-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr); /* 8개의 열로 그리드 설정 */
	gap: 10px;
}

.image-item {
	min-width: 100px;
	min-height: 100px;
}

.image-item img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.even {
	grid-column: span 2;
	grid-row: span 2;
	min-width: 200px;
	min-height: 200px;
}

.odd {
	grid-column: span 2;
	grid-row: span 1;
	min-width: 200px;
	min-height: 100px;
}

.image-item:hover img {
	transform: scale(1.05);
}

/* Footer Styles */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 20px; /* 이전에 있던 마진을 여기로 이동 */
}

.footer_links li {
    margin-right: 20px;
}

.footer a {
    color: white;
}

.footer_logo {
    font-weight: bold;
    font-size: 24px;
}
@media ( max-width : 768px) {
	.image-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
	}
	.image-item {
		min-width: 200px;
		min-height: 200px;
	}
	.even, .odd {
		min-width: 200px;
		min-height: 200px;
	}
	#image-grid-container {
		width: 100%;
	}
}
	#image-grid {
		/* 이미지 그리드의 스타일링을 작은 화면에 맞게 조정합니다 */
		
	}
}