@charset "UTF-8";
div#content {
    font-family: Arial, sans-serif;
    background-color: #505050; /* Grey background */
    color: #f5f5f5; /* Light grey text */
    margin: 0;
    padding: 0;
}

div#content .container {
    background-color: #404040; /* Darker grey background */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

div#content h1 {
    color: #f5f5f5; /* Light grey text */
    text-align: center;
    margin-top: 30px;
}

div#content .card {
    border: 1px solid #666; /* Dark grey border */
    box-shadow: none;
}

div#content .card-header {
    background-color: #404040; /* Dark grey background */
    color: #f5f5f5; /* Light grey text */
    font-weight: bold;
    border-bottom: 2px solid #666; /* Dark grey border */
}

div#content .card-body {
    padding: 20px;
    background-color: #505050; /* Grey background */
    color: #f5f5f5; /* Light grey text */
}

/* Form Group Styles */
div#content .form-group {
    margin-bottom: 10px;
}

div#content .col-sm-4 {
    font-weight: bold;
}

div#content .btn-primary, div#content .btn-secondary {
    background-color: #555; /* Dark grey background */
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

div#content .btn-primary:hover, div#content .btn-secondary:hover {
    background-color: #666; /* Lighter grey background */
}
