/* 템플릿 css */

/* 헤더, 푸터, 사이드 바 전체 윤곽 */
#container {
	display: flex;
	height: auto;									/* 변경 */
	min-height: 750px;								/* 추가 */
	min-width: 500px;								/* 추가 */
	background-color: #f8f9fa;
}

#container>#sidebar {
	flex: 1;
   	background-color:#333;
	max-height: 1000px;
	min-width: 200px;
}

#container>#content {
	flex: 9;
	height: 100%;
	padding : 15px;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}


/*메인페이지에 있는 전체 <div>코드입니다. 혹시 몰라서 넣었어요!*/
html {
    height: 100%;
}
body {
    min-height: 100%;
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #858796;
	text-align: left;
	background-color: #fff;
	border : none;
}

#body-wrapper {
	flex-grow: 1; /* 푸터 위의 콘텐츠가 화면을 채울 수 있도록 설정 */
	display: flex;
	flex-direction: column;
}

#body-content {
	text-align: center;
	padding-bottom: 100px; /* footer의 높이 조절 */
	padding: 100px; /* 푸터와 콘텐츠 사이 여백 조절 */
}

#header, .login-header, #footer {
    width: 100%; /* 헤더, 푸터는 화면 너비에 맞게 설정 */
    max-width: 100%; /* 너비가 100%를 넘지 않도록 설정 */
}



/* 헤더 login status */

.top-header {
	height: 80px;
	background-color: #333;
	position : relative;
}

.top-header .header-links {
	position: absolute;
	top : 50%;
	right : 2%;
	font-size : 20px;
	color: white;
}

.top-header .header-links a {
	color: white;
	text-decoration: none;
	margin: 15px;
}

/* 헤더 logo-banner-header */


.logo-banner-header {
	display: flex;
	align-items: center;
	background-color: black;
}

.logo-banner-header.logo img {
    max-width: 100%;
    height: auto;
}

/*사이드 바 */

.sidebar {
	background-color: #333;
	color: white;
	width: 150px;
	padding: 20px;
}

.sidebar .menu {
	padding-bottom: 10px;
	padding-top: 10px;
	list-style: none;
}

.sidebar .menu li {
	margin-bottom: 10px;
}

.sidebar .menu a {
	color: white;
	text-decoration: none;
}

/* 푸터 스타일 */

.footer {
	width: 100%;
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0; left: 0;
	height: 150px;
}

.footer_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_links ul {
	list-style: none;
	padding: 0;
	display: flex;
	margin-right: 20px; 
}

.footer_links li {
	margin-right: 20px;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer_logo {
	font-weight: bold;
	font-size: 24px;
}

.footer_inner .footer_team7 {
	position : right;
}

.footer_inner .footer_team7 p {
	margin:2px;
}



