<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
</body>
</html>

	<div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">예매 정보</div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">예매번호:</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">상품명:</label>
                            <div class="col-sm-8">
                            	<%= jsonObject.get("orderName") %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">개수:</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">결제금액:</label>
                            <div class="col-sm-8">
     
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">결제일:</label>
                            <div class="col-sm-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary">주문 목록</button>
            <button class="btn btn-secondary">HOME</button>
        </div>
    </div> 