<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminVO">
	<delete id="deleteUser"  parameterType="com.ticketmvp.domain.AdminVO">
		DELETE FROM user
		WHERE userid = #{userid}
	</delete> 

	<select id="user"  parameterType="com.ticketmvp.domain.AdminVO" resultType="com.ticketmvp.domain.AdminVO">
		SELECT userid,name,email,phone
		FROM user
	</select>
	
	<select id="athleteManagement"  parameterType="com.ticketmvp.domain.AdminVO" resultType="com.ticketmvp.domain.AdminVO">
		SELECT athletename,club,age,position,backno
		FROM   athlete
	</select>

	<select id="clubManagement"  parameterType="com.ticketmvp.domain.AdminVO" resultType="com.ticketmvp.domain.AdminVO">
		SELECT a.athletename athletename , a.club club,c.league league,c.stadiumname stadiumname
		FROM  athlete a 
		INNER JOIN club c
		ON a.club= c.club
	</select>
	
	<select id="ticket"  parameterType="com.ticketmvp.domain.AdminVO" resultType="com.ticketmvp.domain.AdminVO">
		SELECT t.ticketname ticketname,t.ticketprice ticketprice
			  ,t.ticketall ticketall,t.ticketremain ticketremain
			  ,t.ticketid ticketid, m.homeclub homeclub,m.awayclub awayclub,m.matchid matchid
			  
		FROM `match` m 
		INNER JOIN ticket t
		ON m.matchid = t.matchid
	</select>	

	
</mapper>