<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReserveDAO">
    
    <select id="getTicketList" resultType="com.ticketmvp.domain.ReserveVO">
        SELECT * FROM ticket AS t
        INNER JOIN `match` AS m
        on t.matchid = m.matchid
        WHERE t.matchid = #{matchid}
    </select>
    
    <select id="getImageFile" resultType="com.ticketmvp.domain.ReserveVO">
    	SELECT c.stadiumimgfile, c.stadiumimgfilefull, c.stadiumimgsize, c.stadiumname
		FROM club AS c
		INNER JOIN `match` AS m
		ON c.club = m.homeclub 
		WHERE m.matchid = #{matchid}
    </select>
    
    <select id="getTicketInfo" parameterType="int" resultType="com.ticketmvp.domain.ReserveVO">
	    SELECT 
	        t.*, 
	        m.*,
	        DATE_SUB(m.matchdate, INTERVAL 3 DAY) AS canceldate
	    FROM ticket AS t
	    INNER JOIN `match` AS m 
	    ON t.matchid = m.matchid
	    WHERE ticketId = #{ticketId}
	</select>
    
    <insert id="recordReservation" parameterType="hashmap">
    	INSERT INTO reservation (reserveid, userid, reservestatus, paydate, totalpayment)
		VALUES (${orderId} , 'qkrqudxo91', '예약완료', now(), ${finalPrice}); <!-- qkrqudxo91값은 나중에 유저id로 변경  -->
    </insert>
    
    <update id="recordSeat" parameterType="hashmap">
	    UPDATE seat
		SET reserveid = ${orderId}
		WHERE ticketid = ${ticketId}
    </update>
    
    <update id="deductTickets" parameterType="hashmap">
    	UPDATE ticket
		SET ticketremain = ticketremain - ${tickets}
		WHERE ticketid = ${ticketId}
    </update>
</mapper>